@charset "utf-8";
/* CSS Document */
/***** -----   Initialization   -----*****/
html, body, div, span, h1, h2, h3, h4, h5, h6, hr, p, a, samp, strong, blockquote, dl, dt, dd, ul, ol, li, pre, form, label, table, tbody, tr, th, td, img {
	border: 0 none;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

body {
	background: #fff;
}

input, textarea, select {
	margin: 0;
	padding: 0;
}

a:hover {
	color: #c00;
}

a {
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: #333;
}

a:hover {
	text-decoration: none;
}

a:active {
	star: expression(thisconFocus=this.blur());
}

a:focus {
	outline: 0;
}

textarea, select {
	background: #fff;
	resize: none;
}

body {
	font: 12px/1.5 \5B8B\4F53, Tahoma, Helvetica, Arial, sans-serif;
}

ul, ol {
	list-style: none;
}

em, i {
	font-style: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfloat, .clears {
	clear: both;
	height: 0;
	line-height: 0px;
	font-size: 0px;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.clearboth {
	clear: both;
}

.none {
	display: none;
}

.block {
	display: block;
}

.noline {
	border: 0;
}
/***** -----   Ending Initialization   -----*****/
/*---align---*/
.Aleft {
	text-align: left;
}

.Acenter {
	text-align: center;
}

.Aright {
	text-align: right;
}
/*---font-weight---*/
.Wbold {
	font-weight: bold;
}

.Wnormal {
	font-weight: normal;
}

.left {
	float: left;
}

.right {
	float: right;
}

.tleft {
	text-align: left;
}

.tright {
	text-align: right;
}

.tcenter {
	text-align: center;
}


/*Style 7*/

.linkBtn_blue_5 {
	display: inline-block;
	height: 52px;
	line-height: 52px;
	background: url(../images/btn.gif) no-repeat 0 -1156px;
	color: #fff;
	padding: 0 0 0 5px;
}

.linkBtn_blue_5 span {
	float: left;
	display: inline;
	padding: 0 86px 0 80px;
	background: url(../images/btn.gif) no-repeat right -1208px;
	cursor: pointer;
}

.linkBtn_white_1 {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	background: url(../images/btn.gif) no-repeat 0 -96px;
	color: #666;
	padding: 0 0 0 2px;
}

.linkBtn_white_1 span {
	float: left;
	display: inline;
	padding: 0 12px 0 10px;
	background: url(../images/btn.gif) no-repeat right -120px;
	cursor: pointer;
}

.linkBtn_white_1:hover {
	text-decoration: none;
	color: #444;
	background-position: 0 -144px;
}

.linkBtn_white_1:hover span {
	background-position: right -168px;
}

.linkBtn_white_2 {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	background: url(../images/btn.gif) no-repeat 0 -240px;
	color: #666;
	padding: 0 0 0 2px;
}

.linkBtn_white_2 span {
	float: left;
	display: inline;
	padding: 0 12px 0 10px;
	background: url(../images/btn.gif) no-repeat right -264px;
	cursor: pointer;
}

.linkBtn_white_2:hover {
	text-decoration: none;
	color: #444;
	background-position: 0 -192px;
}

.linkBtn_white_2:hover span {
	background-position: right -216px;
}

.linkBtn_white_3 {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	background: url(../images/btn.gif) no-repeat 0 -192px;
	color: #666;
	padding: 0 0 0 2px;
}

.linkBtn_white_3 span {
	float: left;
	display: inline;
	padding: 0 12px 0 10px;
	background: url(../images/btn.gif) no-repeat right -216px;
	cursor: pointer;
}

.linkBtn_white_3:hover {
	text-decoration: none;
	color: #444;
}

.linkBtn_white_4 {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	background: url(../images/btn.gif) no-repeat 0 -400px;
	color: #666;
	padding: 0 0 0 2px;
}

.linkBtn_white_4 span {
	float: left;
	display: inline;
	padding: 0 12px 0 10px;
	background: url(../images/btn.gif) no-repeat right -428px;
	cursor: pointer;
}

.linkBtn_white_4:hover {
	text-decoration: none;
	color: #444;
}

.linkBtn_white_5 {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	background: url(../images/btn.gif) no-repeat 0 -664px;
	color: #666;
	padding: 0 0 0 2px;
}

.linkBtn_white_5 span {
	float: left;
	display: inline;
	padding: 0 12px 0 10px;
	background: url(../images/btn.gif) no-repeat right -692px;
	cursor: pointer;
}

.linkBtn_white_5:hover {
	text-decoration: none;
	color: #444;
}

